body {
  font-family: serif, "Franklin Gothic Medium", "Arial Narrow", Arial, Helvetica;
  text-align: center;
  background-color: black;
}

#start-screen {
  background-color: black;
}

#halloween-logo {
  width: 540px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

h1 {
  margin-top: 60px;
  color: white;
  font-size: 45px;
  font-weight: 1000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

h2 {
  color: white;
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

.change-page-button {
  color: orangered;
  font-size: 30px;
  background-color: black;
  border: 1px solid orangered;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
}

#instructions {
  color: white;

  width: 50;
  text-align: center;
}

.instructions {
  margin: 50px 500px;
  font-size: 25px;
  padding: 10px;
  border: 1px solid orangered;
  border-radius: 8px;
}

.instructions ul {
  list-style-type: none;
}

.pumpkin-image {
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

#game-screen {
  display: none;
  background: url("../../src/assets/images/cemetery.jpg");
  background-size: cover;
}

.game-info-headers {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 500px;
}

.game-info-headers > h2 {
  flex: 50%;
}

#board {
  width: 720px;
  height: 540px;
  background-color: green;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  background: url("../../src/assets/images/soil.png");
  background-size: cover;
  border: 3px solid orangered;
  border-radius: 25px;
}

#board div {
  /* height of board (540 x 540) divided into three. So each tile has height of 180*/
  width: 180px;
  height: 180px;
  background-image: url("../../src/assets/images/grave2.png");
  background-size: cover;
}

/*Initially the Game screen is showing*/

/*Initially the Game Over screen is hidden*/
#game-end {
  display: none;
}

#game-level-complete {
  display: none;
}
